<h1>今日と明日と明々後日の予定</h1>
<p><%= link_to '[トップへ]', top_path, class: "return" %></p>

<h2 class:"date">今日</h2>
<h2>ーーーーー夢のためのプロジェクトーーーーー</h2>
<% @today_dreams.each do |today_dream| %>
  <h2>夢：<%= today_dream.name %></h2>
  <% today_dream.projects.where(due: @d).each do |today_project| %>
    <h4>Lv.<%= today_project.project_level %> ー <%= today_project.name %><%= link_to '[プロジェクト変更]', edit_dream_project_path(id: today_project.id, dream_id: today_dream.id), class: "command" %><%= link_to '[プロジェクト削除]', dream_project_path(dream_id: today_dream.id, id: today_project.id), method: :delete, class: "command", data: { confirm: '消しちゃうよ...？' } %>
    </h4>
    <% if today_project.tasks.any? %>
      <ul>
      <% today_project.tasks.each do |task| %>
        <li><%= task.name %><%= link_to '[x]', dream_project_task_path(id: task.id, project_id: today_project.id, dream_id: today_dream.id), method: :delete, class: "command", data: { confirm: '消しちゃうよ...？' } %></li>
      <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>

<h2>ーーーーーーその他のTo Doたちーーーーーー</h2>
<% @today_yet_dreams.each do |today_yet_dream| %>
  <h2>夢：<%= today_yet_dream.name %></h2>
  <% today_yet_dream.yet_projects.where(due: @d).each do |today_yet_project| %>
    <h4>一言：<%= today_yet_project.name %><%= link_to '[削除]', yet_dream_yet_project_path(yet_dream_id: today_yet_dream.id, id: today_yet_project.id), method: :delete, class: "command", data: { confirm: '消しちゃうよ...？' } %>
    </h4>
    <% if today_yet_project.yet_tasks.any? %>
      <ul>
      <% today_yet_project.yet_tasks.each do |yet_task| %>
        <li><%= yet_task.name %><%= link_to '[x]', yet_dream_yet_project_yet_task_path(id: yet_task.id, yet_project_id: today_yet_project.id, yet_dream_id: today_yet_dream.id), method: :delete, class: "command", data: { confirm: '消しちゃうよ...？' } %></li>
      <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>

<h2 class:"date">明日</h2>
<h2>ーーーーー夢のためのプロジェクトーーーーー</h2>
<% @tomorrow_dreams.each do |tomorrow_dream| %>
  <h2>夢：<%= tomorrow_dream.name %></h2>
  <% tomorrow_dream.projects.where(due: @d + 1).each do |tomorrow_project| %>
    <h4>Lv.<%= tomorrow_project.project_level %> ー <%= tomorrow_project.name %><%= link_to '[プロジェクト変更]', edit_dream_project_path(id: tomorrow_project.id, dream_id: tomorrow_dream.id), class: "command" %><%= link_to '[プロジェクト削除]', dream_project_path(dream_id: tomorrow_dream.id, id: tomorrow_project.id), method: :delete, class: "command", data: { confirm: '消しちゃうよ...？' } %>
    </h4>
    <% if tomorrow_project.tasks.any? %>
      <ul>
      <% tomorrow_project.tasks.each do |task| %>
        <li><%= task.name %><%= link_to '[x]', dream_project_task_path(id: task.id, project_id: tomorrow_project.id, dream_id: tomorrow_dream.id), method: :delete, class: "command", data: { confirm: '消しちゃうよ...？' } %></li>
      <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>

<h2>ーーーーーーその他のTo Doたちーーーーーー</h2>
<% @tomorrow_yet_dreams.each do |tomorrow_yet_dream| %>
  <h2>夢：<%= tomorrow_yet_dream.name %></h2>
  <% tomorrow_yet_dream.yet_projects.where(due: @d + 1).each do |tomorrow_yet_project| %>
    <h4>一言：<%= tomorrow_yet_project.name %><%= link_to '[削除]', yet_dream_yet_project_path(yet_dream_id: tomorrow_yet_dream.id, id: tomorrow_yet_project.id), method: :delete, class: "command", data: { confirm: '消しちゃうよ...？' } %>
    </h4>
    <% if tomorrow_yet_project.yet_tasks.any? %>
      <ul>
      <% tomorrow_yet_project.yet_tasks.each do |yet_task| %>
        <li><%= yet_task.name %><%= link_to '[x]', yet_dream_yet_project_yet_task_path(id: yet_task.id, yet_project_id: tomorrow_yet_project.id, yet_dream_id: tomorrow_yet_dream.id), method: :delete, class: "command", data: { confirm: '消しちゃうよ...？' } %></li>
      <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>


<h2 class:"date">明々後日</h2>
<h2>ーーーーー夢のためのプロジェクトーーーーー</h2>
<% @two_days_after_tomorrow_dreams.each do |two_days_after_tomorrow_dream| %>
  <h2>夢：<%= two_days_after_tomorrow_dream.name %></h2>
  <% two_days_after_tomorrow_dream.projects.where(due: @d + 3).each do |two_days_after_tomorrow_project| %>
    <h4>Lv.<%= two_days_after_tomorrow_project.project_level %> ー <%= two_days_after_tomorrow_project.name %><%= link_to '[プロジェクト変更]', edit_dream_project_path(id: two_days_after_tomorrow_project.id, dream_id: two_days_after_tomorrow_dream.id), class: "command" %><%= link_to '[プロジェクト削除]', dream_project_path(dream_id: two_days_after_tomorrow_dream.id, id: two_days_after_tomorrow_project.id), method: :delete, class: "command", data: { confirm: '消しちゃうよ...？' } %>
    </h4>
    <% if two_days_after_tomorrow_project.tasks.any? %>
      <ul>
      <% two_days_after_tomorrow_project.tasks.each do |task| %>
        <li><%= task.name %><%= link_to '[x]', dream_project_task_path(id: task.id, project_id: two_days_after_tomorrow_project.id, dream_id: two_days_after_tomorrow_dream.id), method: :delete, class: "command", data: { confirm: '消しちゃうよ...？' } %></li>
      <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>

<h2>ーーーーーーその他のTo Doたちーーーーーー</h2>
<% @two_days_after_tomorrow_yet_dreams.each do |two_days_after_tomorrow_yet_dream| %>
  <h2>夢：<%= two_days_after_tomorrow_yet_dream.name %></h2>
  <% two_days_after_tomorrow_yet_dream.yet_projects.where(due: @d + 3).each do |two_days_after_tomorrow_yet_project| %>
    <h4>一言：<%= two_days_after_tomorrow_yet_project.name %><%= link_to '[削除]', yet_dream_yet_project_path(yet_dream_id: two_days_after_tomorrow_yet_dream.id, id: two_days_after_tomorrow_yet_project.id), method: :delete, class: "command", data: { confirm: '消しちゃうよ...？' } %>
    </h4>
    <% if two_days_after_tomorrow_yet_project.yet_tasks.any? %>
      <ul>
      <% two_days_after_tomorrow_yet_project.yet_tasks.each do |yet_task| %>
        <li><%= yet_task.name %><%= link_to '[x]', yet_dream_yet_project_yet_task_path(id: yet_task.id, yet_project_id: two_days_after_tomorrow_yet_project.id, yet_dream_id: two_days_after_tomorrow_yet_dream.id), method: :delete, class: "command", data: { confirm: '消しちゃうよ...？' } %></li>
      <% end %>
      </ul>
    <% end %>
  <% end %>
<% end %>
