<h1>成功の鍵はプロジェクトの細分化！</h1>
<%= form_for @project, url: dream_path(@project) do |f| %>
<p>
  <%= f.text_field :name, placeholder: 'Enter your dream' %>
  <% if @dream.errors.messages[:name].any? %>
  <span class="error"><%= @dream.errors.messages[:name][0] %></span>
  <% end %>

</p>
<p>
  <%= f.date_field :due, placeholder: 'Enter the due' %>
  <% if @dream.errors.messages[:due].any? %>
  <span class="error"><%= @dream.errors.messages[:due][0] %></span>
  <% end %>
</p>
  <%= f.hidden_field :is_done, value:0 %>
<p>
  <%= f.submit %>
</p>
<% end %>
