<h1>成功の鍵はプロジェクトの細分化！</h1>
<%= form_for @project, url: dream_project_path(dream_id: params[:dream_id], id: params[:id]), action: :update do |f| %>
<p>
  Lv.<%= f.number_field :project_level %>
  <% if @project.errors.messages[:project_level].any? %>
  <span class="error"><%= @project.errors.messages[:project_level][0] %></span>
  <% end %>
</p>
<p>
  プロジェクト名<%= f.text_field :name %>
  <% if @project.errors.messages[:name].any? %>
  <span class="error"><%= @project.errors.messages[:name][0] %></span>
  <% end %>
</p>
<p>
  期限：<%= f.date_field :due %>
  <% if @project.errors.messages[:due].any? %>
  <span class="error"><%= @project.errors.messages[:due][0] %></span>
  <% end %>
</p>
<p><%= f.submit %></p>
<% end %>
