<h1>ワクワクを言語化して！</h1>
<%= form_for :dream, url: dream_index_path do |f| %>
<p>
  <%= f.text_field :name, placeholder: 'enter your dream' %>
  <% if @dream.errors.messages[:name].any? %>
  <span class="error"><%= @dream.errors.messages[:name][0] %></span>
  <% end %>

</p>
<p>
  <%= f.date_field :due, placeholder: 'enter the due' %>
  <% if @dream.errors.messages[:due].any? %>
  <span class="error"><%= @dream.errors.messages[:due][0] %></span>
  <% end %>
</p>
  <%= f.hidden_field :is_done, value:0 %>
<p>
  <%= f.submit %>
</p>
<% end %>
